/* Основни стилове */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

:root {
    --primary-color:#e18e09;
    --background-color: rgba(0, 0, 0, 0.7);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 14px/1.5 "Roboto", Verdana, sans-serif;
    background-image: url('/images/background2D.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.error-info {
    align-items: start;
    width: 70vw;
    background-color: var(--background-color);
    padding: 1.5em;
    border-radius: 0.5em;
    color: var(--primary-color);
    font-size: 1.6em;
    font-family: "Caveat", cursive;
    margin-bottom: 1em;
}

.additional-info {
    background-color: var(--background-color);
    padding: 2em;
    border-radius: 0.5em;
    color: var(--primary-color);
    max-width: 70vw;
    font-family: "Caveat", cursive;
}

.message h1 {
    color: var(--primary-color);
    font-size: 3em;
    margin-bottom: 0.5em;
}

.message h2 {
    color: var(--primary-color);
    font-size: 2em;
    margin-bottom: 0.5em;
}

.message h6 {
    font-size: 1.3em;
    color: var(--primary-color);
    margin-bottom: 0.5em;
}
.message h5{
    font-size: 1.6em;
    color:#e18e09;
    margin: 0.5em;
}

.line {
    border-top: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    width: 50%;
    margin: 0 auto;

}

.additional-info p {
    font-size: 1.3em;
    color: var(--primary-color);
    padding: 0.3em 0;
}

.additional-info a {
    display: inline-block;
    margin-top: 1em;
    padding: 0.3em 1.3em;
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--primary-color);
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none;
    border-radius: 0.5em;
    transition: background 0.3s ease;
}

.additional-info a:hover {
    background-color: var(--primary-color) ;
    color: black;
}
