/* Основен стил за body */
body {
    font-family: "Caveat", cursive;
    /*font-size: 1.2em;*/
    padding: 0;
    margin: 0;
    /*background-color: #f4f4f4;*/
    color: #e18e09;
}

/* Контейнер за основния контент */
.container {
    width: 85%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    color: #e18e09;
}

/* Заглавия */
h5, h6 {
    font-size: 1.8em;
    color: #e18e09;
    margin: 0.5em 0;
    background-color: rgba(0, 0, 0, 0.6)
}

.event_info {
    font: 1.5em Caveat;
}

/* Стилизиране на таблицата */
.reset td{
    padding: 0;
    text-align: right;
}

.reset{
    margin-top: 0;
    margin-bottom: 0.3em;
}
table {
    width: 100%;
    border-collapse: collapse;
    /*margin-top: 20px;*/
}

table th, table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #e18e09;
}

th {
    font-size: 1.5em;
    /*background-color: rgba(0, 0, 0, 0.6);*/
    color: #e18e09;
}

td {
    font-size: 1.8em;
}

/* Стил за бутоните */
button {
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.8em;
    background: #e18e09;
    color: black;
    padding: 0.25em 0.5em;
    margin-bottom: 0.2em;
    font-family: "Caveat", sans-serif;
    border: none;
}

button:hover, button:focus{
    opacity: 0.8;
}

.container > a:hover, .container > a:focus {
    background: #e18e09;
    color: black;
}

.container > a{
    text-decoration: none;
    color: #e18e09;
    font: 1.5em "Caveat";
    padding: 0.25em;
    border-radius: 0.3em;
    margin-top: 0.3em;
}


/* Медия запитвания за мобилни устройства */
@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    h1, h2 {
        font-size: 1.5em;
    }

    table th, table td {
        font-size: 1em;
    }

    button {
        width: 100%;
        font-size: 1em;
    }
}
