/* Основен стил за body */
body {
    font-family: 'Arial', sans-serif;
    /*background-color: #f4f4f4;*/
    color: #333;
    margin: 0;
    padding: 0;
}

/* Контейнер за основния контент */
.container {
    width: 90%;
    margin: 0 auto;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.7);

    border-radius: 8px;
    margin-top: 30px;
}

/* Заглавие на страницата */
h1, h2 {
    font-size: 2rem;
    color: #e18e09;
    margin-bottom: 20px;
}

/* Стилизиране на таблицата с детайли за събитията */
.event-details-table {
    width: 100%;
    margin-top: 30px;
    border-collapse: separate;
    border-spacing: 0 0.3em;
    font: 1.7vw "Caveat";
}

.event-details-table th, .event-details-table td {
    padding: 0.1em 0.3em 0.2em 0.3em;
    text-align: center;
}

.event-details-table tr {
    background-color: rgb(0, 0, 0, 0.6);
    border-radius: 0.3em;
    margin-bottom: 0.5em;
}

.event-details-table th {
    font-weight: bold;
    background-color: rgb(0, 0, 0, 0.6);
    color: #e18e09;
}

.event-details-table caption {
    text-align: end;
    margin-left: 50%;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    padding: 0.1em;
    padding-right: 0.3em;
    font: 1.8vw "Caveat";
    font-weight: bold;
    background-color: rgb(0, 0, 0, 0.6);
}

/* Стил за бутоните */
button {
    cursor: pointer;
    border-radius: 0.3em;
    margin: 0.3em;
    font-weight: bold;
    font: 1.4vw "Caveat";
    background: rgba(0, 0, 0, 0.6);
    color: #e18e09;
    width: 80%;
    padding: 0.3em;
    border: none;
}

button:hover, button:focus {
    background: #e18e09;
    color: black;
}

/* Стилове за участниците в събитието */
ul.participants {
    list-style-type: none;
    padding: 0;
}

ul.participants li {
    font-size: 1.2rem;
    color: #333;
}

/* Стилове за блоковете с детайли */
.details-block {
    margin-top: 30px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.details-block h3 {
    font-size: 1.6rem;
    margin-bottom: 15px;
}

.details-block p {
    font-size: 1.2rem;
    line-height: 1.6;
    /*color: #555;*/
}

/* Медия запитвания за мобилни устройства */
@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    .event-details-table {
        font-size: 1.2rem;
    }

    .details-block h3 {
        font-size: 1.4rem;
    }

    button {
        width: 100%;
        font-size: 1.2rem;
    }
}
