.container-send, .container-replay {
    margin: 0 auto;
margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 45vw;
    
    border-radius: 1em;
    background-color: rgb(0,0,0,0.6);
    
}

.container-send {
    height: 70vh;
}

.container-replay{
    height: 58vh;
}

label{
    color: #e18e09;
    font: 1.5vw "Caveat";
    
}

h2{
    margin: 0.5em;
    color: #e18e09;
    align-items: center;
    font:1.5vw "Caveat";
    font-weight: bold;
}

p{
    color: white;
    align-items: center;
    font:1.3vw "Caveat";
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

textarea {
    width:35vw;
    height: 25vh;
    display: flex;
    align-items: center;
    /*outline: none;*/
    background-color: #e18e09;
    opacity: 0.8;
    font:1.5vw "Caveat";
    color: white;
    border-radius: 0.5em;
    margin: 0.5em;
}

button{
    color: #e18e09;
    background-color: rgb(0,0,0,0.6);
    padding: 0.2em 5em;
    width: 80%;
    margin: 1em;
    font:1.3vw "Caveat";
    font-weight: bold;
    border-radius: 0.8em;
    
}

input[type="text"]{
    width:35vw;
    background-color: #e18e09;
    opacity: 0.8;
    padding:0.2em;
    font:1.2vw "Caveat";
    color: white;
    margin: 1em 0;
    border-radius: 0.5em;
}

a {
 text-decoration: none;
 font:1.3vw "Caveat";
 color: #e18e09;
 font-weight: bold;
 padding: 0 1em;

}

.errors {
    display: block;
    font-style: italic;
    /*opacity: 0.5;*/
    line-height: 1;
    padding: 0.2em 0;
    color:red;
}