/* Основни стилове */
:root {
    --primary-color: #e18e09;
    --bg-color: rgba(0, 0, 0, 0.7);
    --font-family: "Caveat", cursive;
}

/* Оформление на таблицата */
.table-container {
    margin: 1em auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 0.3em;
    font: 1.3vw var(--font-family);
    color: var(--primary-color);
    border-radius: 0.3em;
}

caption {
    /*display: flex;*/
    /*flex-wrap: nowrap;*/
    /*width: 100%;*/
    justify-content: space-between;
    text-align: end;
    font: 1.5vw var(--font-family);
    font-weight: bold;
    background-color: var(--bg-color);
    padding: 0.2em 0.5em;
    border-radius: 0.3em;
}

/*caption > div {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    width: 100%;*/
/*}*/

tr {
    background-color: var(--bg-color);
    border-radius: 0.3em;
}

th, td {
    vertical-align: middle;
    padding: 0.5em;
    text-align: center;
}

/* За контейнера на бутоните */
/*td.actions {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: center; !* Центрира бутоните по хоризонтала *!*/

/*    gap: 0.5em; !* Разстояние между бутоните *!*/
/*}*/


img {
    max-width: 100px;
    height: auto;
    border-radius: 0.3em;
}

/* Стилове за бутоните */
button {
    background-color: var(--primary-color);
    padding: 0.2em;
    margin: 0.2em;
    border-radius: 0.3em;
    font: 1.2vw var(--font-family);
    cursor: pointer;
    border: none;
}

button:hover {
    opacity: 0.8;
}

/* Отзивчив (responsive) дизайн */
@media (max-width: 1024px) {
    .table-container {
        width: 95%;
    }

    table, caption {
        font-size: 2vw;
    }
}

@media (max-width: 768px) {
    table, caption {
        font-size: 2.5vw;
    }
}

@media (max-width: 480px) {
    table {
        font-size: 4vw;
    }

    caption {
        font-size: 5vw;
    }
}
