:root {
    --primary-color: #e18e09;
    --bg-color: rgba(0, 0, 0, 0.7);
    --font-family: "Caveat", cursive;
}

.main-container{
    width: 90vw;
    display: flex;
    justify-content: center;
}
.profile-container {
    display: flex;
    align-items: flex-start;
    align-self: center;
    gap: 20px;
    margin: 5em 0;
}
.profile-image {
    flex: 0 0 auto;
}
.profile-image img {
    width: 15vw;
    height: auto;
    border-radius: 8px;
}
.user-info {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.info-column {
    flex: 1 1 80%;
}
.info-column table {
    width: 100%;

}

table {
    margin: 0 auto;
    border-radius: 0.3em;
    color: var(--primary-color);
    border-collapse: separate;
    border-spacing: 0 0.3em;
    font: 1.4vw var(--font-family);
    width: 100%;
    background-color: var(--bg-color);
}

tr, td, th {
    width: 80%;
    display: flex;
    padding: 0.3em 0.3em;
    text-align: end;
    border-radius: 0.3em;
    justify-content: end;
}

.back-btn{

    display: flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 3em;
}

button {
    align-self: center;
    cursor: pointer;
    font-size: 1.5em;
    background: black;
    color:#e18e09;
    padding: 0.3em 3em;
    margin-bottom: 0.2em;
    border-radius: 0.3em;
    font-family: "Caveat", sans-serif;
    border: none;
    margin-right: 0.25em;
    margin-left: 0.25em;
}

button:hover{
    background: #e18e09;
    color: black;
}
