<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Събития</title>
    <link rel="stylesheet" th:href="@{/css/default.css}">
    <link rel="stylesheet" th:href="@{/css/events.css}">
</head>
<body>
<header>
    <div class="header-container">
        <nav class="menu">
            <div></div>
            <div>
                <ul>
                    <li><a href="#">Начало</a></li>
                    <li><a href="#">Съобщения</a></li>
                    <li><a href="#">За нас</a></li>
                    <li><a href="#">Вход</a></li>
                    <li><a href="#">Регистрация</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<div class="table-container">
    <table>
        <caption>Спортен календар на Българска Киокушин-кан федерация</caption>
        <thead>
        <tr>
            <th scope="col">Начална дата</th>
            <th scope="col">Крайна дата</th>
            <th scope="col">Събитие</th>
            <th scope="col">Изискване за участие</th>
            <th scope="col">Място на събитието</th>
            <th scope="col">Участници</th>
            <th scope="col">Действие</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="event : ${events}">
            <td th:text="${event.startDate}">11.01.2025</td>
            <td th:text="${event.endDate}">12.01.2025</td>
            <td th:text="${event.type.description}">Треньорски семинар</td>
            <td th:text="${event.requirements.description}">Треньор</td>
            <td th:text="${event.location}">Габрово</td>
            <td>
                <ul>
                    <li th:each="participant : ${event.getUsers()}" th:text="${participant.firstName + ' ' + participant.lastName}">Име на участник</li>
                </ul>
            </td>
            <td>
                <form th:action="@{/events/{eventId}/join(eventId=${event.id})}" method="POST">
<!--                    <input type="hidden" name="id" th:value="${event.id}"/>-->
                    <button type="submit">Заяви участие</button>
                </form>

                <button th:attr="onclick=|location.href='/events/edit/' + '${event.id}'|">Редактиране</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
