<!DOCTYPE html>
<html lang="bg" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Детайли за събитието</title>
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/event-details.css">
</head>
<body>

<header>
    <th:block th:insert="~{fragments/nav :: nav}"></th:block>
</header>

<div class="container">
    <h5 th:text="'Детайли за събитието: ' + ${event.eventDescription}"></h5>
    <div class="event_info">
        <p><strong>Тип:</strong> <span th:text="${event.type.description}"></span></p>
        <p><strong>Проведено:</strong>
            <span th:text="${#temporals.format(event.startDate, 'dd-MM-yyyy')}"></span> -
            <span th:text="${#temporals.format(event.endDate, 'dd-MM-yyyy')}"></span>
        </p>
    </div>

    <h6>Участници:</h6>
    <table th:unless="${event.users.isEmpty()}">
        <thead>
        <tr>
            <th>Име</th>
            <th>Фамилия</th>
            <th>Степен</th>
            <th>Възраст</th>
            <th sec:authorize="hasAnyRole('ADMIN', 'TRAINER')">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${event.users}">
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.reachedDegree.description}"></td>
            <td th:text="${user.birthDate == null} or ${userAges[user.id]} == 0 ? 'Неизвестна' : ${userAges[user.id]}"></td>
            <td class="buttonz">
                <!-- Падащо меню за степен и Запази (само при EXAM) -->
                <form th:if="${event.type.name() == 'EXAM'}"
                      sec:authorize="hasAnyRole('ADMIN','TRAINER')"
                      th:action="@{/events/{eventId}/update-degree/{userId}(eventId=${event.id}, userId=${user.id})}"
                      th:method="PUT">
                    <label for="newDegree">Степен</label>
                    <select id="newDegree"  name="newDegree">
                        <option th:each="degree : ${degrees}"
                                th:value="${degree.name()}"
                                th:text="${degree.description}"
                                th:selected="${degree == user.reachedDegree}">
                        </option>
                    </select>
                    <button type="submit">Запази</button>
                </form>

                <!-- Бутон Експорт (само при EXAM) -->
                <form th:if="${event.type.name() == 'EXAM'}"
                      sec:authorize="hasAnyRole('ADMIN','TRAINER')"
                      th:action="@{/events/{eventId}/export/{userId}(eventId=${event.id}, userId=${user.id})}"
                      th:method="GET">
                    <button type="submit">Експорт</button>
                </form>

                <!-- Бутон Отпиши (за всички събития) -->
                <form sec:authorize="hasAnyRole('ADMIN','TRAINER')"
                      th:action="@{/events/requests/{eventId}/users/{userId}/unapprove(eventId=${event.id}, userId=${user.id})}"
                      th:method="PUT">
                    <button type="submit">Отпиши</button>
                </form>
            </td>

        </tr>
        </tbody>
    </table>

    <table class="noParticipants" th:if="${event.users.isEmpty()}">
        <tr>
            <td>Няма добавени участници !</td>
        </tr>
    </table>

    <h6>Победители:</h6>
    <table class="winners" th:if="${event.getFirstPlaceWinner() != null || event.getSecondPlaceWinner() != null || event.getThirdPlaceWinner() != null}">
        <thead>
        <tr>
            <th>Име</th>
            <th>Фамилия</th>
            <th>Степен</th>
            <th>Възраст</th>
            <th sec:authorize="hasAnyRole('ADMIN', 'TRAINER')">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${event.getFirstPlaceWinner() != null}">
            <td th:text="${event.getFirstPlaceWinner().firstName}"></td>
            <td th:text="${event.getFirstPlaceWinner().lastName}"></td>
            <td th:text="${event.getFirstPlaceWinner().reachedDegree.description}"></td>
            <td th:text="${event.getFirstPlaceWinner().birthDate == null} ? 'Неизвестна' : ${userAges[event.getFirstPlaceWinner().id]}"></td>
            <td sec:authorize="hasAnyRole('ADMIN', 'TRAINER')"> - </td>
        </tr>

        <tr th:if="${event.getSecondPlaceWinner() != null}">
            <td th:text="${event.getSecondPlaceWinner().firstName}"></td>
            <td th:text="${event.getSecondPlaceWinner().lastName}"></td>
            <td th:text="${event.getSecondPlaceWinner().reachedDegree.description}"></td>
            <td th:text="${event.getSecondPlaceWinner().birthDate == null} ? 'Неизвестна' : ${userAges[event.getSecondPlaceWinner().id]}"></td>
            <td sec:authorize="hasAnyRole('ADMIN', 'TRAINER')"> - </td>
        </tr>

        <tr th:if="${event.getThirdPlaceWinner() != null}">
            <td th:text="${event.getThirdPlaceWinner().firstName}"></td>
            <td th:text="${event.getThirdPlaceWinner().lastName}"></td>
            <td th:text="${event.getThirdPlaceWinner().reachedDegree.description}"></td>
            <td th:text="${event.getThirdPlaceWinner().birthDate == null} ? 'Неизвестна' : ${userAges[event.getThirdPlaceWinner().id]}"></td>
            <td sec:authorize="hasAnyRole('ADMIN', 'TRAINER')"> - </td>
        </tr>
        </tbody>
    </table>
    <table class="noWinners" th:unless="${event.getFirstPlaceWinner() != null || event.getSecondPlaceWinner() != null || event.getThirdPlaceWinner() != null || event.result == true}">
        <tr>
            <td>Все още няма резултати от това събитие!</td>
        </tr>
    </table>

    <table class="noWinners" th:if="${event.type.name() == 'EXAM' and event.result == true}">
        <tr>
            <td>Резултатите от това събитие са актуализирани!
                <p>Всички успешно преминали изпита ще бъдат уведомени с мейл!</p></td>
        </tr>
    </table>


    <!-- Показване на възможност за нулиране на победителите -->
    <table class="reset" th:if="${event.getFirstPlaceWinner() != null || event.getSecondPlaceWinner() != null || event.getThirdPlaceWinner() != null}">
        <tr>
            <td>
                <form sec:authorize="hasAnyRole('ADMIN', 'TRAINER')" th:action="@{/events/{eventId}/reset-winners(eventId=${event.id})}" method="post">
                    <button type="submit" class="btn btn-danger"
                            onclick="return confirm('Сигурни ли сте, че искате да нулирате победителите?');">
                        Нулирай победителите
                    </button>
                </form>
            </td>
        </tr>
    </table>
    <div class="buttonz">
        <table>
            <tr>
                <td class="buttonz">
                    <button onclick="location.href='/events'">⬅ Назад към списъка със събития</button>
                    <button th:if="${event.type.name() == 'TOURNAMENT'}" th:attr="onclick=|window.location.href='@{/events/tournaments/export/pdf/{id}(id=${eventId})}'|">PDF Експорт</button>
                    <button th:if="${event.type.name() == 'TOURNAMENT'}" th:attr="onclick=|window.location.href='@{/events/tournaments/export/csv/{id}(id=${eventId})}'|">CSV Експорт</button>
                    <!-- Показване на бутон за потвърждаване на резултати от администратор/тренер -->
                    <form sec:authorize="hasAnyRole('ADMIN', 'TRAINER')"
                          th:if="${event.type.name() == 'EXAM' and event.result == false}"
                          th:action="@{/events/{eventId}/results(eventId=${event.id})}" th:method="PUT">
                        <button type="submit" class="btn btn-success">Покажи резултатите</button>
                    </form>
                    <form sec:authorize="hasAnyRole('ADMIN', 'TRAINER')"
                          th:if="${event.type.name() == 'EXAM' and event.result == true}"
                          th:action="@{/events/{eventId}/results/hide(eventId=${event.id})}" th:method="PUT">
                        <button type="submit" class="btn btn-success">Скрий резултатите</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>
