<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Събития</title>
    <link rel="stylesheet" href="../static/css/default.css">
    <link rel="stylesheet" href="../static/css/events.css">
</head>
<body>
    <header>
        <div class="header-container">
            <nav class="menu">
                <div></div>
                <div>
                <ul>
                      
                    <li><a href="#">Начало</a></li>
                    <li><a href="#">Съобщения</a></li>
                    <li><a href="#">За нас</a></li>
                    <li><a href="#">Вход</a></li>
                    <li><a href="#">Регистрация</a></li>
                    
                        
                </ul>

            </div>
            </nav>
        </div>
    </header>

    <div class="table-container">
        <table>
            <caption>Спортен календар на Българска Киокушин-кан федерация </caption>
            <thead>
                    <tr>
                        <th scope="col">Начална дата</th>
                        <th scope="col">Крайна дата</th>
                        <th scope="col">Събитие</th>
                        <th scope="col">Изискване за участие</th>
                        <th scope="col">Място на събитието</th>
                    </tr>
            </thead>
            <tbody>
                <tr>
                    <td>11.01.2025</td>
                    <td>12.01.2025</td>
                    <td>Треньорски семинар</td>
                    <td>Треньор</td>
                    <td>Габрово</td>
                </tr>

                <tr>
                    <td>16.03.2025</td>
                    <td>16.03.2025</td>
                    <td>Държавно първенство по ката</td>
                    <td>Няма</td>
                    <td>Бургас</td>
                </tr>
            </tbody>

        </table>
       

    </div>
    
</body>
</html>