<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Детайли за събитието</title>
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/event-details.css">
</head>
<body>

<header>
    <th:block th:insert="~{fragments/nav :: nav}"></th:block>
</header>

<div class="container">
    <h1 th:text="'Детайли за събитието: ' + ${event.eventDescription}"></h1>

<!--     Показване на съобщение за успешна операция-->
    <th:block th:if="${successMessage}">
        <p class="success-message" th:text="${successMessage}"></p>
    </th:block>

    <p><strong>Тип:</strong> <span th:text="${event.type.description}"></span></p>
    <p><strong>Проведено:</strong>
        <span th:text="${#temporals.format(event.startDate, 'dd-MM-yyyy')}"></span> -
        <span th:text="${#temporals.format(event.endDate, 'dd-MM-yyyy')}"></span>
    </p>

    <h2>Участници:</h2>
    <table>
        <thead>
        <tr>
            <th>Име</th>
            <th>Фамилия</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${event.users}">
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td>
                <form th:action="@{/events/requests/{eventId}/users/{userId}/unapprove(eventId=${event.id}, userId=${user.id})}" th:method="PUT">
                    <input type="hidden" name="_method" value="put"/>
                    <button type="submit">Отпиши</button>
                </form>

                <form th:action="@{/events/{eventId}/reset-winners(eventId=${event.id})}" method="post">
                    <button type="submit" class="btn btn-danger"
                            onclick="return confirm('Сигурни ли сте, че искате да нулирате победителите?');">
                        Нулирай победителите
                    </button>
                </form>

<!--                 Показване на съобщение за успех-->
                <div th:if="${successMessage}" class="alert alert-success">
                    <span th:text="${successMessage}"></span>
                </div>

            </td>
        </tr>
        </tbody>
    </table>

    <a th:href="@{/events}">⬅ Назад към списъка със събития</a>
</div>

</body>
</html>
