<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Провери имейла си</title>
  <link rel="stylesheet" href="/css/default.css">
  <link rel="stylesheet" href="/css/error.css">
</head>
<body>
<div class="main-container">
  <div class="error-info">
    <h1>Провери имейла си!</h1>
    <h5>Ако си въвел правилно имейла, ще получиш линк за прмомяна на паролата на твоят потребителски профил.</h5>
  </div>
  <div class="additional-info">
    <a href="/" class="additional-info">НАЧАЛО</a>
  </div>
</div>

</body>
</html>
