<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Забравена парола</title>
    <link rel="stylesheet" href="/css/default-test.css">
    <link rel="stylesheet" href="/css/login-test.css">
</head>
<body>
<header>

    <th:block th:insert="~{fragments/nav :: nav}"></th:block>

</header>

<div class="form">
    <form th:action="@{/forgotten-password}" th:method="POST" th:object="${forgottenPasswordEmailRequest}">

        <h2>Забравена парола</h2>
        <span th:text="${exceptionMessage}" class="credentials-error"></span>
        <div class="field">
            <label for="email">Имейл адрес:</label>
            <input type="email" th:field="*{email}" required id="email"/>
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="credentials-error"></span>

        </div>


        <button type="submit" class="button login">Изпрати линк за смяна</button>
    </form>
</div>
</body>
</html>
