<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Съобщения</title>
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/messages.css">
</head>
<body>
    <header>

        <th:block th:insert="~{fragments/nav :: nav}"></th:block>


    </header>

    <div class="message-container">
        <div class="posted">
            <!-- <table> -->
                
                <!-- <tr>
                    <th scope="col">Публикувано от:</th>
                    <td>Свилен</td>
                    <td>10.01.2025</td>
                </tr> -->
                <table>
                    <caption>
                        Драгон Доджо ДСД
                    </caption>
                    <tr>
                        <!-- <th scope="col">Заглавие</th> -->
                        <th>Промяна на начаалния час на предстояща тренировката</th>
                    </tr>
                    <tr>
                        <td>Тренировката на 11.01.2025 г ще се проведе от 18:30ч.
                            Моля да бъдете в залата навреме!
                        </td>
                    </tr>
                </table>
            <!-- </table> -->
        </div>

        <div class="message">
            
        </div>
    </div>
</body>
</html>