<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Отговор на съобщение</title>
    <link rel="stylesheet" href="/css/default-test.css">
    <link rel="stylesheet" href="/css/reply-test.css">
</head>
<body>

<header>

    <th:block th:insert="~{fragments/nav :: nav}"></th:block>

</header>
<div class="main-container">
    <div class="container-send">
        <h2 th:text="'Отговорете на ' + ${message.sender.firstName} + ' ' + ${message.sender.lastName}">Отговор на
            съобщение от ...</h2>
        <form class="replay" th:action="@{/messages/reply/{messageId}(messageId=${message.id})}" th:method="POST"
              th:object="${messageReplyRequest}">
            <span class="credentials-error"></span>
            <label>Съобщение:</label>
            <p th:text="${message.content}" class="original-message"></p>
            <label for="content">Отговор:</label>
            <textarea id="content" name="content" th:field="*{messageContent}" placeholder="Вашият отговор..."
                      required></textarea>


            <p th:if="${#fields.hasErrors('messageContent')}" th:errors="*{messageContent}" class="errors"></p>
            <button type="submit">Изпрати</button>
        </form>
        <div class="back-link">
            <a href="/home">Назад</a>
        </div>
    </div>
</div>
</body>
</html>