<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Изпращане на съобщение</title>
    <link rel="stylesheet" href="/css/default-test.css">
    <link rel="stylesheet" href="/css/reply-test.css">

<body>
<header>

    <th:block th:insert="~{fragments/nav :: nav}"></th:block>


</header>
<div class="main-container">
    <div class="container-send">
        <h2>Изпрати съобщение</h2>
        <span class="credentials-error"></span>
        <form th:action="@{/messages/send}" th:method="POST" th:object="${sendMessageRequest}">
            <label for="recipient">Получател:</label>
            <select id="recipient" name="recipient" th:field="*{recipient}" required>
                <option value="">Изберете получател</option>
                <option th:each="recipient : ${recipients}"
                        th:value="${recipient.email}"
                        th:text="${recipient.firstName} + ' ' + ${recipient.lastName} + ' - ' + ${recipient.email}">
                    User1
                </option>
            </select>
            <span class="errors" th:if="${#fields.hasErrors('recipient')}" th:errors="*{recipient}"></span>
            <span th:text="${messageCanNotBeSentToUser}" class="errors"></span>

            <label for="content">Съобщение:</label>
            <textarea id="content" name="content" maxlength="500" placeholder="Вашето съобщение..." required
                      th:field="*{content}"></textarea>
            <span class="errors" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span>
            <button type="submit">Изпрати</button>
        </form>
        <div class="back-link">
            <a href="/home">Назад</a>
        </div>
    </div>
</div>
</body>
</html>