<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавяне на ново събитие</title>
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/new-event.css">

</head>
<body>
<header>
<th:block th:insert="~{fragments/nav :: nav}"></th:block>
</header>

<form th:action="@{/events/new}" method="post" th:object="${createEventRequest}">
    <h2>Ново събитие</h2>

    <label for="eventType">Тип събитие:</label>
    <select id="eventType" name="eventType" th:field="*{eventType}">
        <option th:each="eventType : ${T(cardindex.dojocardindex.Event.models.EventType).values()}" th:value="${eventType}" th:text="${eventType.description}" value=""></option>
    </select>

    <label for="eventDescription">Описание:</label>
    <textarea id="eventDescription" name="eventDescription" th:field="*{eventDescription}"></textarea>

    <label for="startDate">Начална дата:</label>
    <input type="date" id="startDate" name="startDate" th:field="*{startDate}" />

    <label for="endDate">Крайна дата:</label>
    <input type="date" id="endDate" name="endDate" th:field="*{endDate}" />

    <label for="requirements">Изисквания:</label>
    <select id="requirements" name="requirements" th:field="*{requirements}">
        <option th:each="requirements : ${T(cardindex.dojocardindex.Event.models.Requirements).values()}" th:value="${requirements}" th:text="${requirements}" value=""></option>
    </select>

    <button type="submit">Създай събитие</button>
</form>

</body>
</html>
