<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dragon Dojo - Страницата не е намерена</title>
<!--    <link rel="stylesheet" th:href="@{/css/default.css}">-->
    <link rel="stylesheet" th:href="@{/css/default-test.css}">
    <link rel="stylesheet" th:href="@{/css/error-test.css}">
</head>
<body>
<header>
    <th:block th:insert="~{fragments/nav :: nav}"></th:block>
</header>

<div class="main-container">

    <div class="additional-info">
        <div class="message">
            <h1>Нещо се обърка!</h1>
            <hr class="line"/>
            <h3>Съжаляваме, но страницата, която търсите, не беше намерена.</h3>
            <hr class="line"/>

            <h3 class="reasons">Възможно е:</h3>
            <ul class= "error-list">
                <li>Адресът да е написан грешно.</li>
                <li>Страницата да е преместена или изтрита.</li>
                <li>Временно да не е достъпна.</li>
            </ul>


        </div>


        <p>Ако мислите, че това е грешка, <a href="/contact">свържете се с нас</a>.</p>

        <a href="/home">Към профилната страница</a>
    </div>

</div>
</body>
</html>