<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Промяна на парола</title>
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/addUser.css">
</head>
<body>
<header>

    <th:block th:insert="~{fragments/nav :: nav}"></th:block>

</header>

<div class="form">
    <form class="edit-profile" th:action="@{/users/details/edit/password}" th:method="PUT" th:object="${changePasswordRequest}">
        <input type="hidden" name="_method" value="PUT"/>
        <h2>Редактиране</h2>


        <div class="field">
            <label for="field-oldPassword">Настояща парола</label>
            <input type="password" id="field-oldPassword" th:field="*{oldPassword}" placeholder="">
            <span th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}" class="errors"></span>
        </div>

        <div class="field">
            <label for="field-newPassword">Нова паарола</label>
            <input type="password" id="field-newPassword" th:field="*{newPassword}" placeholder="">
            <span th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" class="errors"></span>
        </div>

        <input type="submit" class="button save" value="Промени">
    </form>
</div>

</body>
</html>