<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="60">
    <title>Чакащи заявки</title>
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/pending-requests.css">
</head>
<body>
<header>
    <th:block th:insert="~{fragments/nav :: nav}"></th:block>
</header>

<div class="table-container">
    <table>
        <caption>
            <div class="caption-right">Чакащи заявки за събития</div>
        </caption>
        <tr>
            <th>Събитие</th>
            <th>Начална дата</th>
            <th>Крайна дата</th>
            <th>Изисквания</th>
            <th>Име</th>
            <th>Фамилия</th>
            <th>Степен</th>
            <th>Възраст</th>
            <th>Действие</th>
        </tr>
        <tr th:each="request : ${requests}">
            <td th:text="${request.event.eventDescription}">Име на събитието</td>
            <td th:text="${#temporals.format(request.event.startDate, 'dd.MM.yyyy')}">Начало</td>
            <td th:text="${#temporals.format(request.event.endDate, 'dd.MM.yyyy')}">Край</td>
            <td th:text="${request.event.requirements.description}">Изисквания</td>
            <td th:text="${request.user.firstName}">Име</td>
            <td th:text="${request.user.lastName}">Фамилия</td>
            <td th:text="${request.user.reachedDegree?.description ?: '-'}">Степен</td>
            <td th:text="${request.user.birthDate == null} or ${userAges[request.user.id]} == 0 ? 'Неизвестна' : ${userAges[request.user.id]}">Възраст</td>
            <td class="actions">
                <form th:action="@{'/events/requests/approve/' + ${request.id}}" method="post">
                    <input type="hidden" name="requestId" th:value="${request.id}">
                    <button type="submit">Одобри</button>
                </form>
                <form th:action="@{/events/requests/reject/{id}(id=${request.id})}" th:method="GET">
                    <input type="hidden" name="requestId" th:value="${request.id}">
                    <button type="submit" class="reject">Откажи</button>
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
