<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="60">
    <title>Детайли за публикацията</title>
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/posts.css">

</head>
<body>
<header>
    <th:block th:insert="~{fragments/nav :: nav}"></th:block>
</header>

<div class="message-container">
    <div class="posted" th:each="post : ${allActivePosts}">
        <input type="hidden" name="postId" th:value="${post.id}" />
        <table>
            <tr>
                <td class="info">
                    <span class="posted-by" th:text="'Публикувано от: ' + ${post.author.firstName} + ' ' + ${post.author.lastName}">Публикувано от: Свилен</span>
                    <span class="date" th:text="${#temporals.format(post.created,'dd-MM-yyyy HH:mm')}">10.01.2025</span>
                </td>
                <td class="title">
                    <strong th:text="${post.title}"></strong>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="message-content" th:text="${post.content}"></td>
            </tr>
        </table>


        <div class="comments-section">

            <ul>
                <li th:each="comment : ${post.comments}">
                    <strong th:text="${comment.commentAuthor.getFirstName()} + ' ' + ${comment.commentAuthor.lastName}">Име</strong>:
                    <span th:text="${comment.content}">Съдържание</span>
                </li>
            </ul>

            <a th:href="@{/comments/new-comment(postId=${post.id})}" class="add-comment-link">Добави коментар</a>

        </div>
    </div>
</div>

</body>
</html>