<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Забравена парола</title>
    <link rel="stylesheet" href="/css/default-test.css">
    <link rel="stylesheet" href="/css/login-test.css">
</head>
<body>
<header>

    <th:block th:insert="~{fragments/nav :: nav}"></th:block>


</header>

<div class="form">
    <form th:action="@{/forgotten-password/reset(token=${token})}" th:method="POST"
          th:object="${resetForgottenPasswordRequest}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

        <h2>Промяна на парола</h2>
        <span th:text="${exceptionMessage}" class="credentials-error"></span>
        <!--<form th:action="@{/forgotten-password/reset}" th:method="POST" th:object="${resetForgottenPasswordRequest}">-->
        <!--    <input type="hidden" name="token" th:value="${token}" />-->
        <div class="field">
            <label for="newPassword">Нова парола:</label>
            <input type="password" th:field="*{newPassword}" id="newPassword"/>
            <span th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"
                  class="credentials-error"></span>
        </div>
        <div class="field">
            <label for="repeatPassword">Потвърди паролата:</label>
            <input type="password" th:field="*{confirmNewPassword}" id="repeatPassword"/>
            <span th:if="${#fields.hasErrors('confirmNewPassword')}" th:errors="*{confirmNewPassword}"
                  class="credentials-error"></span>
        </div>

        <button type="submit" class="button login">Смени паролата</button>
    </form>
</div>
</body>
</html>
