<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Успешно променена парола</title>
    <link rel="stylesheet" href="/css/default-test.css">
    <link rel="stylesheet" href="/css/error-test.css">
</head>
<body>
<header>

    <th:block th:insert="~{fragments/nav :: nav}"></th:block>


</header>
<div class="main-container">
    <div class="additional-info">
    <div class="message">
        <h1>Поздравления</h1>
        <hr class="line"/>
        <h3>Вашата парола беше променена успешно!</h3>
        <hr class="line"/>
    </div>

        <p><a href="/login" class="additional-info">ВХОД</a></p>

    </div>

</div>
</body>
</html>
