<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Успешно променена парола</title>
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>
<header>

    <th:block th:insert="~{fragments/nav :: nav}"></th:block>


</header>
<div class="main-container">
    <div class="error-info">
        <h1>Поздравления</h1>
        <h5>Вашата парола беше променена успешно!</h5>
    </div>
    <div class="additional-info">
        <a href="/login" class="additional-info">ВХОД</a>
    </div>

</div>
</body>
</html>
