<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Изпращане на съобщение</title>
    <link rel="stylesheet" href="/css/default-test.css">
    <link rel="stylesheet" href="/css/reply-test.css">
</head>
<body>

<header>

    <th:block th:insert="~{fragments/nav :: nav}"></th:block>

</header>
<div class="main-container">
    <div class="container-send">
        <h2 th:text="'Съобщение до ' + ${recipient.firstName} + ' ' + ${recipient.lastName}">Съобщение до ...</h2>
        <span class="credentials-error"></span>
        <form class="replay" th:action="@{/messages/send/{userid}(userid=${recipient.id})}"
              th:object="${messageRequest}" th:method="POST">
            <label for="messageContent">Съобщение:</label>
            <textarea id="messageContent" name="messageContent" placeholder="Вашето съобщение..." required></textarea>
            <div th:if="${#fields.hasErrors('messageContent')}"
                 th:errors="*{messageContent}" class="errors"></div>
            <button type="submit">Изпрати</button>
        </form>
        <div class="back-link">
            <a href="/users/list">Назад</a>
        </div>
    </div>
</div>
</body>
</html>