
<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Изпращане на съобщение</title>
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/replay.css">
</head>
<body>

<header>

    <th:block th:insert="~{fragments/nav :: nav}"></th:block>

</header>
<div class="container-replay">
    <h2 th:text="'Съобщение до ' + ${recipient.firstName} + ' ' + ${recipient.lastName}">Съобщение до ...</h2>
    <form class="replay" th:action="@{/messages/send/{userid}(userid=${recipient.id})}" th:method="POST">
<!--        <input type="hidden" name="responseToMessageId" th:value="${message.id}" />-->
        <label>Съобщение:</label>
        <textarea name="messageContent" placeholder="Вашето съобщение..." required></textarea>
        <button type="submit">Изпрати</button>
    </form>
    <a href="/users/list">Назад</a>
</div>
</body>
</html>